.wp-api-checker-loading {
  margin-left: 10px;
}

.ui.padded.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.explanation .ui.image {
  margin: 20px;
}

.explanation li div.try-again {
  margin: 20px;
}

.ui.explanation.accordion .title:not(.ui) {
    font-size: 1.3em;
}
