
body {
  background-color: #ecf0f1;
  font-family:'Open Sans', sans-serif;
  min-height: 100%;
}

.wrn-logging {
  color: #BDBDBD;
  font-size: 12px;
  font-style: italic;
  padding-left: 5px;
}

.wrn-login-error {
  color: #F08989;
  font-size: 12px;
  font-style: italic;
  padding-top: 12px;
}

.wrn-label {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  color: #A7A7A7;
  padding-left: 1px;
  margin-bottom: 1px;
}

.w-input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #D5D5D5;
}
.w-input:moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #D5D5D5;
}
.w-input:-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #D5D5D5;
}
.w-input:ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #D5D5D5;
}


h3.wrn-login-title.wrn-create-your-first-app {
    margin-bottom: 10px;
}

.wrn-login-subtitle.wrn-create-your-first-app {
    margin-bottom: 25px;
    color: #9A9A9A;
}


.wrn-cancel {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(249, 39, 39, 0.55);
  margin-left: 10px;
}

.wrn-cancel:hover {
  background-color: rgba(190, 55, 55, 0.55);
}

@media screen and (min-width: 1200px) {
  .w-container {
    max-width: 1170px;
  }
}
