body {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 10px;
  color: #6c7a89;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}
p {
  margin-bottom: 10px;
  color: #6c7a89;
}
a {
  color: #0082f3;
  text-decoration: underline;
}
ul {
  padding-left: 40px;
  color: #6c7a89;
}
li {
  padding-bottom: 10px;
}
img {
  display: inline-block;
  max-width: 100%;
}
.wrn-nav {
  background-color: #383f47;
}
.wrn-nav-link {
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.wrn-nav-link:hover {
  color: #b3b3b3;
}
.wrn-body {
  background-color: #ecf0f1;
  font-family:'Open Sans', sans-serif;
}
.wrn-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrn-menu-header {
  margin-bottom: 5px;
  color: #aeb6bf;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.wrn-menu-list {
  margin-bottom: 20px;
  padding-left: 3px;
  list-style-type: none;
}
.wrn-brand {
  padding-top: 16px;
}
.wrn-menu-list-link {
  display: block;
  padding: 5px 13px;
  border-radius: 3px;
  color: #929fad;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 600;
  text-decoration: none;
}
.wrn-menu-list-link:hover {
  background-color: whitesmoke;
  color: #88d5c1;
}
.wrn-menu-list-link.active {
  background-color: white;
  color: #526476;
}
.wrn-cards-column {
  padding-top: 7px;
}
.wrn-white-line {
  border-bottom: 1px solid rgba(220, 220, 220, 0.5);
}
.wrn-white-line.blank-space {
  margin-bottom: 27px;
}
.wrn-padder {
  padding: 30px;
  border-radius: 3px;
  background-color: whitesmoke;
}
.wrn-padder.login {
  max-width: 400px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.wrn-padder.app-info {
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 15px 9px;
  border: 3px none lightgrey;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
.wrn-padder.center {
  text-align: center;
}
.wrn-small-header {
  color: #bebebe;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.wrn-small-header.dark-grey {
  color: #b4b4b4;
}
.wrn-app-card {
  display: block;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  border: 3px solid #e8eaec;
  border-radius: 8px;
  text-decoration: none;
}
.wrn-app-card.add-new {
  border-style: dashed;
}
.wrn-app-card.add-new:hover {
  border-color: #929fad;
  color: #929fad;
}
.wrn-app-card-title {
  color: #4a90e2;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
.wrn-app-card-title:hover {
  color: #3a73b3;
  text-decoration: underline;
}
.wrn-app-card-title.add-new-app {
  color: #929fad;
}
.wrn-app-card-title.add-new-app:hover {
  text-decoration: none;
}
.wrn-app-card-title.app-info {
  color: #6c7a89;
}
.wrn-app-card-props {
  padding-top: 5px;
  color: #929fad;
  font-size: 13px;
}
.wrn-app-card-props.app-info {
  color: #929fad;
  font-size: 12px;
}
.wrn-app-row {
  margin-bottom: 15px;
}
.wrn-app-new-card-title {
  color: #929fad;
  font-size: 17px;
}
.wrn-field-label {
  color: #6c7a89;
}
.wrn-text-field {
  margin-bottom: 20px;
}
.wrn-submit {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #88d5c2;
}
.wrn-submit:hover {
  background-color: #92b7c6;
}
.wrn-login-title {
  margin-bottom: 34px;
  line-height: 23px;
}
.wrn-login-title.danger {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(249, 39, 39, 0.66);
}
.wrn-preview-column {
  padding-top: 7px;
}
.wrn-preview-iframe {
  width: 320px;
  height: 480px;
  background-color: #676767;
}
.wrn-breadcrumb {
  margin-bottom: 25px;
}
.breadcrumb {
  font-weight: 400;
}
.wrn-breadcrumb-link {
  color: #6c7a89;
  text-decoration: none;
}
.wrn-breadcrumb-link:hover {
  text-decoration: underline;
}
.wrn-app-id {
  margin-bottom: 14px;
  color: #6c7a89;
  font-size: 33px;
  line-height: 40px;
  font-weight: 300;
}
.icon {
  font-family: Fontawesome, sans-serif;
  font-weight: 400;
}
.wrn-white-space {
  margin-bottom: 50px;
}
.wrn-padder-padding {
  padding-top: 10px;
  padding-left: 30px;
}
.wrn-padder-image {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.wrn-center {
  text-align: center;
}
.wrn-unordered {
  padding-bottom: 20px;
}
.wrn-italic-text {
  padding-left: 7px;
  color: #929fad;
  font-size: 13px;
  font-style: italic;
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}